@model ClassLibrary.Model.LoginModel

<form asp-action="Login">
    <div class="mb-3 mt-3">
        <label for="email" class="form-label">UserName:</label>
        <input type="text" class="form-control" id="UserName" placeholder="Enter username" name="UserName">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Password:</label>
        <input type="password" class="form-control" id="Password" placeholder="Enter password" name="Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>