<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HTMLMVC_Link</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />

    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />





</head>

<body>
    <!-- header section strats -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="index.html">
                    <img src="~/images/logo.png" alt="" />
                    <span>
                        Brighton
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav  ">
                            @*<li class="nav-item ">
                                    <a class="nav-link" href="index.html">
                                        Home <span class="sr-only">(current)</span>
                                    </a>
                                </li>*@
                            @* <li class="nav-item active">
                                    <a class="nav-link" asp-controller="design" asp-action="Index"> Home </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" asp-controller="design" asp-action="About"> About </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" asp-controller="design" asp-action="info"> Information </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" asp-controller="design" asp-action="Program"> Program </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" asp-controller="design" asp-action="Contact"> Contact </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" asp-controller="Product" asp-action="List"> Products </a>
                                </li>*@

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->

    @RenderBody()


    <!--<section class="container-fluid footer_section">
        <p>-->
    @*
        &copy;
    *@
    <!--<a href="https://html.design/"> HelloBrighton</a>
        </p>
    </section>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/animated-headline.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/js/jquery-3.4.1.min.js" asp-append-version="true"></script>
    <script src="~/js/modernnizr.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
   

    <script src="~/js/site.js" asp-append-version="true"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
