@model ProductViewModel

@{
    ViewData["Title"] = "View";
}

@section scripts {

    <script>

        $(document).ready(function () {

            alert('pop');

            $('#customerDatatable').dataTable({
            });
        });



    </script>
    <script>
        $(document).ready(function () {

            alert('create');
            $("#ProductType").select2();

        });</script>

}


<h4>Product Data Entry</h4>

<div class="size">

    <div>
        <table align="left">
            <partial name="_createpartial" model="Model.Create" />
        </table>
    </div>



    <div class="text-md-center">
        <table align="right">
            <partial name="_listpartial" model="Model.List" />
        </table>
    </div>
</div>







