@model ProductViewModel

@{
    ViewData["Title"] = "View";
}

<h4>Product Data Entry</h4>
@*<hr />
*@
<div class="size">

    <div>
        <table align="left">
            <partial name="_createpartial" model="Model.Create" />
        </table>
    </div>



    <div class="text-md-center">
        <table align="right">
            <partial name="_listpartial" model="Model.List" />
            </table>
</div>
</div>



